/* --- AddItem Component Styles --- */

.label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.label-row label {
    margin-bottom: 0
}

.password-wrapper-input {
    position: relative;
    width: 100%;
}

.form-input-with-icon {
    width: 100%;
    padding-right: 40px; /* This space ensures that text doesn't overlap the icon */
}

.eye-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    
    background: none;
    border: none;
    cursor: pointer;
    
    opacity: 0.6;
    padding: 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;
}

.gen-btn {
    background: var(--gen-button-bg);
    border: 1px solid var(--gen-border);
    color: var(--gen-color);
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
}

.gen-btn:hover {
    background: var(--gen-bg-hover);
    box-shadow: 0 0 8px var(--gen-shadow);
}

/* Icon for showing password */
.eye-btn:hover {
    opacity: 1 !important;
}

.cancel-btn:hover {
    border-color: var(--cancel-bg) !important;
    box-shadow: 
        0 5px 15px var(--cancel-shadow-1),
        inset 0 0 10px var(--cancel-shadow-2)
        !important;
    background: rgba(40, 0, 0, 0.3);
}

.save-btn:hover {
    border-color: var(--save-border) !important;
    box-shadow: 
        0 5px 15px var(--save-shadow-1),
        inset 0 0 10px var(--save-shadow-2)
        !important;
    background: var(--save-bg);
}